html, body {
background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
margin:0;
height:100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}
header {
  position: fixed;
  top: 10px;
  left: 10px;
}

.full-screen {
height:100%;
}

.first{
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.second{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.third{
   background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.fourth{
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}
