/*@import "compass/css3";*/

html,
body {
  margin: 0;
   height: 100%
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}

.

.full-screen {
height:100%;
opacity: 0;
transform:translateY(50px);
transition: all 1sec ease-out
}

.fade-in{
  opacity:1;
  transform:translateY(0);
}

.first_button{
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.second_button{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.third_button{
   background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.fourth_button{
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}
